.App {
  text-align: center;
}

  .App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 20px;
  height: auto;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carrito{
  height: 10%;
  width: 10%;
}

.categorias{
  width: 40rem;
}

.numero-carrito{
  font-size: x-large;
}